.shopWrapper {
    padding: 2rem 0;
    background-color: #EAEAEA;
    margin: auto;
}

.cartItemsDiv {
    margin: auto;
    display: grid;
    max-width: 1200px;
    grid-template-columns: 2fr 1fr;
    padding: 1.5rem;
    gap: 1rem;
}

.emptyCart {
    height: 80vh;
}

.conditionalDiv {
    position: absolute;
    left: 50%; top: 50%;
}

@media screen and (max-width: 750px) {
    .cartItemsDiv {
        grid-template-columns: auto;
    }
}