.background {
    background: url('../../images/wave.svg') center/cover no-repeat;
    min-height: 100vh;
    max-width: 1920px;
    z-index: 1;
}

.shopInvitation {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.full-bg {
    background-color: #c4e4e65c;
    z-index: -100;
}

.bg-img {
    background: url('../../images/vector_img.jpg') center/cover no-repeat;
    height: 400px;
    width: 400px;
    filter: brightness(90%);
    z-index: -1;
}

@media screen and (max-width: 768px) {
    .background {
        opacity: 0.8;
    }
    
    .bg-img {
        position: absolute;
        background-size: cover;
        height: 100%;
        width: 100%;
        top: 10%;
        z-index: -1000;
        opacity: 0.8;
    }
}

.mid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    z-index: 100;
    place-items: center;
    gap: 5rem;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
}

.shopBtn {
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    background: rgba(54, 54, 54, 0.5);
    box-shadow: -2px -2px 5px rgb(255, 174, 0), 3px 3px 5px rgb(0, 177, 221);
    border: 3px solid rgb(0, 0, 0);
    color: #000000;
    text-shadow: 3px 3px 5px white;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
}

.shopBtn:hover {
    filter: brightness(90%);
}

@media screen and (max-width: 750px) {
    .mid {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 550px) {
    .mid h2 {
        font-size: 1.2rem;
    }
}