.full-bg {
    background-color: #c4e4e65c;
    z-index: -100;
}

.background {
    position: relative;
    max-width: 1920px;
    height: 80vh;
    z-index: 1;
}

.mid {
    padding-top: 8rem;
    height: fit-content;
    width: fit-content;
    margin: auto;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
}

.shopInvitation {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

@media screen and (max-width: 768px) {
    .background {
        opacity: 0.8;
    }

    .bg-img {
        position: absolute;
        background-size: cover;
        max-width: 100%;
        height: auto;
        top: 10%;
        z-index: -1000;
        opacity: 0.8;
        margin: 0;
    }
}

.shopBtn {
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    background: rgba(54, 54, 54, 0.5);
    box-shadow: -2px -2px 5px rgb(255, 174, 0), 3px 3px 5px rgb(0, 177, 221);
    border: 3px solid rgb(0, 0, 0);
    color: #000000;
    text-shadow: 3px 3px 5px white;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
}

.shopBtn:hover {
    filter: brightness(90%);
}

@media screen and (max-width: 750px) {
    .mid {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 550px) {
    .mid h2 {
        font-size: 1.2rem;
    }
}