.headerWrapper {
    background-color: black;
    box-shadow: 1px 1px 1px white;
    padding: 0.5rem 2rem;
}

.headerContainer {
    max-width: 1200px;
    padding: 1rem 0 0.8rem 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.navLeftSide {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-links, .nav-links-wrapper {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-links *:hover {
    color: #ffc851;
    text-decoration: underline;
}

.login_state {
    position: relative;
}

.menuIcon {
    display: block;
}

.cartIcon, .menuIcon, .logo {
    height: 24px;
    width: 24px;
}


.dropdownMenu {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 1rem 0;
}

@media screen and (max-width: 768px) {
    .menuIcon {
        display: flex;
    }
    .nav-links {
        display: none;
    }
    .navLeftSide {
        gap: 2rem;
    }
}

@media screen and (min-width: 768px) {
    .menuIcon {
        display: none;
    }
    .nav-links {
        display: flex;
    }
}

@media screen and (max-width: 430px) {
    .headerWrapper {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 305px) {
    .navLeftSide {
        gap: 16px;
    }
    .nav-links-wrapper {
        gap: 16px;
    }
}