.nav-links {
  display: inline-flex;
  gap: 2rem;
}

h2 {
  margin: 0;
  padding: 0;
}

.quantityDiv {
  display: flex;
  outline: 2px solid black;
  justify-content: space-between;
  border-radius: 0.2rem;
  background-color: #ffe7e7;
  padding: 0.73rem;
}

.quantityDiv>div,
.quantityDiv>h2 {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

.quantity h2 {
  padding: 0 0.5rem;
  cursor: pointer;
  outline: 2px solid black;
  background-color: #f3f3f3;
}

.shopImgDiv {
  background-color: #cccccc;
  padding: 1rem;
  display: flex;
  color: black;
  border-radius: 0.5rem;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 2rem;
}

.shopImgDiv img {
  mix-blend-mode: multiply;
  height: 150px;
  width: 150px;
}

.imgDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgDiv img {
  height: 300px;
  width: 300px;
}

.shopHeader {
  height: fit-content;
  width: fit-content;
  margin: auto;
}

.Btn {
  width: 100%;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.2rem;
  margin-top: 1rem;
  outline: 2px solid black;
  background-color: #393E46;
  padding: 1rem;
}

.Btn:hover {
  cursor: pointer;
  filter: brightness(90%);
}

.cartHeader {
  margin: auto;
  height: fit-content;
  width: fit-content;
  padding: 1rem;
}

.hr {
  width: 10rem;
  margin: auto;
  height: 1px;
  background-color: black;
}

.qnttTotal {
  display: flex;
  gap: 5rem;
}

.qntt,
.total {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.cartItems,
.orderSummary {
  padding: 1rem;
  background-color: white;
  box-shadow: 2.5px 1px 5px #393E46;
}

.cartItems {
  display: grid;
  grid-template-columns: 1fr 2fr;

}

.itemTitle {
  margin: 0 auto;
}

.itemDetails {
  display: flex;
  justify-content: space-around;
}

.itemDetails div {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.itemDetailsDiv {
  display: flex;
  flex-direction: column;
}

.productsHeader {
  width: 175px;
  height: fit-content;
}

.checkout div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pic {
  background-color: black;
  height: 175px;
  width: 175px;
}