body {
  font-family: 'Roboto', sans-serif;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.overlay {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.user-icon {
  height: 40px;
  width: 40px;
}

@media screen and (max-width: 680px) {
  .pic {
    height: 110px;
    width: 110px;
  }
}